<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{msg}}</h1>
    <h2>Create the data</h2>
    <form action="store_book" method="POST">
        Title: <input type="text" name="title"><br>
        Author: <input type="text" name="author"><br>
        <input type="submit" value="insert">
    </form>
    <ul>
        {{#each mydata}}
            <li>{{this.title}}-{{this.author}} </li>
        {{/each}}
    </ul>
</body>
</html>
